#check{
      display: none;
}
.checkbtn{
      font-size: 30px;
      color: #fff;
      float: right;
      line-height: 80px;
      margin-right: 40px;
      cursor: pointer;
      display: none;
}
.spin{
      width: 23px;
      height: 23px;
}
.spin:hover{ 
      width: 23px;
      height: 23px;
      animation-name: spin;
      animation-duration:5000ms;
      animation-iteration-count: infinite;
      animation-timing-function: linear; 
}
@keyframes spin {
      from {
    transform:rotate(0deg);
      }
      to {
    transform:rotate(360deg);
      }
}
header {
      background: linear-gradient( purple, fuchsia);
      color: white;
      text-align: center;
      width: 100%;
}
nav {
      background-color: fuchsia;
}
nav ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      background: linear-gradient( fuchsia, purple);
}
nav li {
      float: right;
}
nav li a {
      display: block;
      color: white;
      text-align: center;
      padding: 1em;
      text-decoration: none;
}
nav li a:hover {
      background-color: #111111;
}
.izquierda{
      float: left;
      display: block;
      color: white;
      text-align: center;
      padding: 1em;
      text-decoration: none;
}
.izquierda:hover{
      background-color: #111111;
}
section{
      background-position: center center;
      background-size: cover;
}
main {
      margin:auto;
      width: 90%;
}
img{
      max-width: 307.7px;
      width: 100%;
      
      margin: auto;
      padding: 3px;
     }
.logo{
      max-width: 200px;
      width: 100%;
      margin-left: 210%;
      padding: 3px;
}
figure{
      width: 20%;
      min-width: 270px;
      float: left;
      text-align: center;
      flex-flow: column;
}
.product{
      float: left;
      width: 100%;
      min-width: 270px;
      height: auto;
  }
.imagenes{
      width: 23px;
      height: 23px;
}
h1{
    font-size: 39px;
}
.textos{
    font-family:sans-serif;
}
body {
    display: flex;
    flex-direction: column;
    min-width: 100vw;
    min-height: 100vh;
    height: 100%;
    margin: auto;
}
aside{
      float: right;
      width: 50%;
}
footer {
      background: linear-gradient( fuchsia, purple);
      color: white;
      text-align: center;
      width: 100%;
      bottom: 0;
}
footer a {
      color: #fff;
      text-decoration: none;
}
.footercorto{
            position: absolute;
}
.ancla{
      float: right;
      padding-right: 1em;
}
@media (max-width: 952px){
    nav ul li a{
        font-size: 16px;
    }
}

@media (max-width: 858px){
    .checkbtn{
        display: block;
    }
    .izquierda{
      float: none;
      display: unset;
    }
    .logo{
      float: none;
      display: unset;
      max-height: 182px;
      max-width: 130px;
      margin-left: 20%;
    }
    ul{
        position: fixed;
        width: 100%;
        max-height: 75vh;
        background: #2c3e50;
        top: 200px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    nav ul li{
        display: block;
        width: 100%;
        
    }
    nav ul li a{
        font-size: 20px;
    }
    li a:hover, li a.active{
        background: none;
        color: white;
    }
    #check:checked ~ ul{
        left:0;
    }
    aside{
      width: 100%;
    }
}
